<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.investment.dao.StrategyMapper">
  <resultMap id="BaseResultMap" type="com.investment.bean.Strategy">
   
    <result column="STRATEGY" jdbcType="VARCHAR" property="strategy" />
    <result column="INSTRUMENT" jdbcType="VARCHAR" property="instrument" />
    <result column="DIRECTION" jdbcType="VARCHAR" property="direction" />
    <result column="VOLUMN" jdbcType="VARCHAR" property="volumn" />
    <result column="CELLPRICE" jdbcType="VARCHAR" property="cellprice" />
    <result column="FLOORPRICE" jdbcType="VARCHAR" property="floorprice" />
    <result column="TIMING" jdbcType="VARCHAR" property="timing" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="EFFECTIVE_DATE" jdbcType="TIMESTAMP" property="effectiveDate" />
    <result column="EXPIRE_DATE" jdbcType="TIMESTAMP" property="expireDate" />
  </resultMap>
  <insert id="insert" parameterType="com.investment.bean.Strategy">
   
    insert into STRATEGY (STRATEGY, INSTRUMENT, DIRECTION, 
      VOLUMN, CELLPRICE, FLOORPRICE, 
      TIMING, FLAG, EFFECTIVE_DATE, 
      EXPIRE_DATE)
    values (#{strategy,jdbcType=VARCHAR}, #{instrument,jdbcType=VARCHAR}, #{direction,jdbcType=VARCHAR}, 
      #{volumn,jdbcType=VARCHAR}, #{cellprice,jdbcType=VARCHAR}, #{floorprice,jdbcType=VARCHAR}, 
      #{timing,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}, #{effectiveDate,jdbcType=TIMESTAMP}, 
      #{expireDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.investment.bean.Strategy">
  
    insert into STRATEGY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="strategy != null">
        STRATEGY,
      </if>
      <if test="instrument != null">
        INSTRUMENT,
      </if>
      <if test="direction != null">
        DIRECTION,
      </if>
      <if test="volumn != null">
        VOLUMN,
      </if>
      <if test="cellprice != null">
        CELLPRICE,
      </if>
      <if test="floorprice != null">
        FLOORPRICE,
      </if>
      <if test="timing != null">
        TIMING,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
      <if test="effectiveDate != null">
        EFFECTIVE_DATE,
      </if>
      <if test="expireDate != null">
        EXPIRE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="strategy != null">
        #{strategy,jdbcType=VARCHAR},
      </if>
      <if test="instrument != null">
        #{instrument,jdbcType=VARCHAR},
      </if>
      <if test="direction != null">
        #{direction,jdbcType=VARCHAR},
      </if>
      <if test="volumn != null">
        #{volumn,jdbcType=VARCHAR},
      </if>
      <if test="cellprice != null">
        #{cellprice,jdbcType=VARCHAR},
      </if>
      <if test="floorprice != null">
        #{floorprice,jdbcType=VARCHAR},
      </if>
      <if test="timing != null">
        #{timing,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="effectiveDate != null">
        #{effectiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expireDate != null">
        #{expireDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>